ul{
    list-style-type: none;
    padding:0;
}

.top-bar{
    background-image: url("../img/background.jpg");
    z-index: 2;
}

.image-bar{
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.logo{
    margin-top: 8%;
}

.row{
    margin-top: 5%;
    padding-bottom: 3%;
}

.padding-0{
    padding-right: 0.5%;
    padding-left: 0;
}

#card-header-style{
    color:#dc3545;
    font-weight: bold;
}



#cuisine_box{
    visibility: hidden;
}